@font-face {
  font-family: 'Roboto';
  src: url('./resources/Roboto-Black.ttf');
}
.wave{
  background-color:'#5438DC';
  position: absolute;
  bottom: -5px;
  width:100%;
}

.logo{
  display: fixed;
  padding-left: 5%;
  padding-top: 3%;
  width: 90%;
}

.home{
  display:fixed;
}

.land_msg{
  position: fixed;
  top: 25%;
  padding: 10px;
  font-size: 48px;
  color:white;
  text-align: center;
  font-family: 'Roboto';
}

.button{
  position: fixed;
  top: 60%;
  left: 20%;
  width: auto;
  height:10%;
  font-size: 200px;
}

.nav{
  display:absolute;
}

.graph{
  display:absolute;
}
