@font-face {
  font-family: 'Roboto';
  src: url('./resources/Roboto-Black.ttf');
}
.wave{
  background-color:'#5438DC';
  position: absolute;
  bottom: -5px;
  width:100%;
}

.logo{
  display:fixed;
}

.home{
  display:fixed;
}

.land_msg{
  position: fixed;
  top: 40%;
  /* margin-top: -50px;
  margin-left: -50px; */
  /* width: 100px;
  height: 100px; */
  z-index:1;
  font-size:xx-large;
  color:white;
  text-align: center;
  font-family: 'Roboto';
}

.button{
  position: fixed;
  top: 60%;
  left: 25%;
  width:50%;
  height:10%;
  font-size: 36px;
}

.nav{
  display:absolute;
}

.graph{
  display:absolute;
}

.navlink {
  color: white;
}
